.search {
  padding: 16px;
  width: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.input {
  border: none;
  outline: none;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}
